# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# VS Code
.vscode/

# Node
node_modules/

# Build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Static/Generated
static/css/main.css

# Misc
*.zip
*.json

# Ignore secrets
.env
