:root {
  --spot-green: #1db954;
}

.header {
  height: 60vh;
  top: 0;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--spot-green);
  width: 100vw;
  text-align: center;
}

.header-topleft {
  position: absolute;
  padding-left: 30px;
  color: var(--spot-green);
}

.uploadtext {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
}

.upload-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90vh;
  padding: 10px 20px;
  background-color: var(--spot-green);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
}

.holographic-card {
  width: 250px;
  height: 100px;
  background: var(--spot-green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: white;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 0, 0, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
